.about {
  background-color: $color-bg-light-yellow;

  // margin-left: -$space-lg;
  // margin-right: -$space-lg;
  // width: calc(100% + #{$space-3xl});

  // @include on-tablet {
  //   margin-left: -$space-7xl;
  //   margin-right: -$space-7xl;
  //   width: calc(100% + #{$space-9xl * 2});
  // }

  // @include on-desktop {
  //   margin-left: -$space-9xl;
  //   margin-right: -$space-9xl;
  //   width: calc(100% + #{$space-9xl * 2});
  // }

  &__img {
    grid-column: 1 / -1;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @include on-tablet {
      height: $height-tablet-about;
    }

    @include on-desktop {
      height: $height-desktop-about;
    }
  }

  &__content {
    @include grid-template;

    padding-block: $space-4xl;
  }
  &__title {
    margin: 0;
    margin-bottom: $space-xl;
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: $space-4xl;
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
