.category {
  margin-block: $space-5xl;

  &__images {
    @include grid-template;
  }
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    grid-column: span 1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }

    @include hover(transform, scale($scale-hover));
  }

  &__title {
    margin: 0;
    padding: 0;
    margin-top: $space-base;
  }

  &__button {
    display: flex;
    background-color: $color-primary;
    justify-content: center;
    align-items: center;
    height: $height-button;
    grid-column: span 2;
    border-radius: $boder-radius;
    color: $color-white;
    font-weight: $font-weight-bold;

    &:hover {
      background-color: $main-text-color;
    }

    &:active {
      background-color: $color-dark;
    }
  }
}
