.contacts {
  &__container {
    @include grid-template;

    gap: $space-4xl;
  }

  &__data {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__info {
    display: grid;
    gap: $space-xl;
    grid-column: span 2;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__inputs {
    display: grid;
    gap: $space-base;
  }

  &__input {
    height: $height-input;
    border: none;
    padding-inline: $space-base;

    font-weight: $font-weight-regular;
    font-size: $font-size-s;
    line-height: $line-height-content;
    letter-spacing: $letter-nav;

    &:hover {
      border: $border-thin solid $color-border;
      border-radius: $boder-radius;
    }

    &:focus {
      outline: none;
      border: $border-regular solid $color-primary;
      border-radius: $boder-radius;
    }

    &--max {
      height: $height-textarea;
      padding-block: 14px;
      margin-bottom: $space-2xl;
    }
  }

  &__button {
    border: none;
    display: flex;
    width: 100%;
    height: $height-button;
    border-radius: $boder-radius;
    background-color: $color-primary;
    justify-content: center;
    align-items: center;

    color: $color-white;
    font-weight: $font-weight-bold;
    font-size: $font-size-m;
    line-height: $line-height-button;
    letter-spacing: $letter-button;
    text-align: center;

    &:hover {
      background-color: $main-text-color;
    }

    &:active {
      background-color: $color-dark;
    }
  }

  &__description {
    margin: 0;
    padding: 0;
    font-weight: $font-weight-regular;
    line-height: $line-height-content;
    color: $color-text-secondary;
    text-decoration: none;

    &--name {
      font-size: $font-size-m;
      color: $color-border;
    }
  }

  &__section {
    display: grid;
    gap: $space-sm;
  }
}
