.header {
  // display: none !important;
  background-size: cover;
  background-position: center;
  background-image: url(../images/background-full-size.png);

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    padding-bottom: $space-3xl;

    @include on-tablet {
      padding-bottom: $space-6xl;
    }
  }

  &__title {
    color: $color-white;
    font-family: Manrope, sans-serif;
    font-size: $font-size-hero;
    line-height: $line-height-base;
    font-weight: $font-weight-bold;
    margin: 0;
    letter-spacing: $letter-default;
  }
}
