.icon {
  width: $height-icon;
  height: $height-icon;
  display: block;
  background-size: cover;

  @include hover(transform, scale($scale-hover));

  @include on-tablet {
    width: $height-icon-tablet;
    height: $height-icon-tablet;
  }

  &--phone {
    background-image: url(../images/icon/Icon-Phone-call.svg);
  }

  &--menu {
    background-image: url(../images/icon/Icon-Burger-menu.svg);

    &:hover {
      background-image: url(../images/icon/Icon-Burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icon/Icon-Close.svg);
  }
}
