.menu {
  background-color: $color-bg-light;
  box-sizing: border-box;

  height: $height-full;
  font-weight: $font-weight-bold;
  overflow: auto;

  &__top {
    margin-bottom: $space-2xl;

    @include on-tablet {
      margin-bottom: $space-5xl;
    }

    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__nav {
    margin-bottom: $space-4xl;
  }

  &__phone-number {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: $font-size-m;
    letter-spacing: $letter-nav-uppercase;
    line-height: $line-height-content;
    margin-bottom: $space-base;
  }

  &__call-to-order {
    display: block;
    text-decoration: none;
    padding-bottom: $space-xs;
    border-bottom: $border-thin solid $main-text-color;
    width: fit-content;
    color: inherit;
    font-size: $font-size-m;
    line-height: $line-height-content;
    letter-spacing: $letter-nav-uppercase;
    text-transform: uppercase;
  }
}
