.nav {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: $space-2xl;
  }

  &__link {
    cursor: default;
    position: relative;
    text-decoration: none;
    color: inherit;
    font-size: $font-size-nav;
    line-height: $font-size-nav;

    &::after {
      content: '';
      width: 100%;
      display: block;
      position: absolute;
      bottom: -$space-sm;
      height: $border-thin;
      background-color: $main-text-color;

      transition: transform $effectDuration;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
