.product {
  &__image {
    width: 100%;
    margin-bottom: 24px;

    @include hover(transform, scale(1.2));
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__description {
    margin: 0;
    margin-bottom: 12px;
    font-weight: $font-weight-regular;
    font-size: $font-size-m;
    line-height: 140%;
    letter-spacing: 0.15px;
  }

  &__price {
    margin: 0;
    font-weight: $font-weight-bold;
    font-size: $font-size-m;
    line-height: 140%;
    letter-spacing: 0;
  }
}
