.recomended {
  &__products {
    display: grid;
    row-gap: $space-3xl;

    @include on-tablet {
      justify-items: center;
      row-gap: $space-5xl;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: $grid-gap-tablet;
      justify-items: stretch;
    }
  }
}
