.section-title {
  margin: 0;
  margin-bottom: $space-4xl;
  font-weight: $font-weight-bold;
  font-size: $font-size-title;
  line-height: $line-height-base;
  letter-spacing: $letter-button;
  text-align: left;

  @include on-tablet {
    font-size: $font-size-section-tablet;
    margin-bottom: $space-5xl;
  }

  @include on-desktop {
    font-size: $font-size-section-desktop;
  }
}
